{% extends 'base.html' %}

{% block body %} 
  
  <h1>Login</h1>
  <form method="POST" action="">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User name</label>
        <input type="text" class="form-control" name="username" placeholder="Enter your user name">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter your password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
  </form>


  {% endblock body %}


