{% extends 'base.html' %}

{% block body %} 
    <h1>Image's detail</h1>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            {% if user.is_authenticated %}
              <img src="{{ image.image.url }}" class="img-fluid rounded-start" alt="#">
            {% else %}
              <img src="{{ image.image_thumbnail.url }}" class="img-fluid rounded-start" alt="#">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> {{ image.title }} </h5>
              <p class="card-text"> {{ image.discription }} </p>
              <span>
                {% if user.is_authenticated %}
                  <a href="{% url 'download' pk=image.pk %}" class="btn btn-primary">Download</a>
                  <a href="{% url 'image_edit' pk=image.pk %}" class="btn btn-success"> Edit </a>
                  <a href="{% url 'image_delete' pk=image.pk %}" class="btn btn-danger"> Delete </a>
                {% else %}
                  <a href="{% url 'image_list' %}" class="btn btn-primary">Home</a>
                {% endif %}
              </span>
              <p class="card-text"><small class="text-body-secondary"> published: {{ image.published_date }} </small></p>
            </div>
          </div>
        </div>
      </div>
      {% if user.is_authenticated %}
      {% else %}
        <h3>Sign in! If you want to download the image in good quality!<a href="{% url 'register' %}"> Sign in!</a>
      </h3>
      {% endif %}

{% endblock body %} 