{% extends 'base.html' %}

{% block body %} 

{% for image in images %}
  {% if forloop.counter0|divisibleby:3 %} <div class="row"> {% endif %}
    <div class="card" style="width: 18rem;">
      <img src="{{ image.image.url }}" class="card-img-top">
        <div class="card-body">
          <h4> {{ image.title }} </h4>
          <p class="card-text"> {{ image.discription }} </p>
          <a href="{% url 'image_detail' pk=image.pk %}" class="btn btn-primary">Detail</a>
        </div>
    </div>
  {% if forloop.counter|divisibleby:3 or forloop.last %} </div> <hr> {% endif %}
{% endfor %}

<style>
  .card{
    margin: auto;
  }
  
  img{
    margin: 5px;
    border-radius: 5px;
  }
</style>

{% endblock body %} 

<!--<div>
      {% for image in images %}
        <h1> <a href="{% url 'image_detail' %}">{{ image.title }}</a> </h1>
        <img src="{{ image.image.url }}"/>
        <p> {{ image.discription }} </p>
        <p> published: {{ image.published_date }} </p>
      {% endfor %}
    </div>-->